.box {
    margin: auto;
  width: 50%;
  border: 3px  rgb(67,74,174);
  border-style: double;
  padding: 10px;
}

.title{
    font-family: 'Rockwell';
    font-size: 30px;
    color: rgb(67,74,174);
    padding-bottom: 8px;
    text-align: center;
  }