
.forms{
  background-color:rgb(233,251,255);
  height: 900px;
}
  .formBody{
      background-color: #ffffff;
      padding: 10px;
      margin: auto;
      border: .1px solid black;
  }
  #grayText{
      color: rgb(114, 113, 103);
      padding: 5px;
    }
    #ovalobutton{
        border-radius: 40px 40px 40px 40px;
      width: 100%;
    }
    
    #fromHeaderImg{
      width: 100%;
    }
    #formSize{
      height: 400px;
      width: 100%;
    }
    #space{
      height: 100px;
    }