.topnav {
    width: 100%;
    overflow: auto;
    background-color:rgb(233,251,255);

}
.logoImage{
  width: 80%;
}

.topnav a {
  color:  rgb(67,74,174);
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  float: left;
  width: 20%; /* Five links of equal widths */
  text-align: center;
}

.topnav a:hover {
  background-color: rgb(178, 201, 223);
  text-decoration: none;
  color: black;
}



.topnav .icon {
  display: none;
}


@media screen and (max-width: 500px) {
    .topnav a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
      text-align: center;
    }
  }
