.cardStyle{
    display: flex;
    width: 50%;
    font-size: 20px;
    margin-left : auto;
    margin-right: auto;
  

}

.titleStyle{
    font-family: 'Rockwell';
    font-size: 30px;
    color: rgb(67,74,174);
    padding-bottom: 8px;
    text-align: center;
}



.imageStyle{
   
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
}
.body{
    background-color: rgb(233,251,255);
}