body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:'Rockwell';
  src: local('Rockwell') , url(./fonts/rockb.ttf) format('truetype');
}

@font-face {
  font-family:'Klavika';
  src: local('Klavika') , url(./fonts/klavikaboldwebfont.ttf) format('truetype');
}
